$dotBackgroundColor: #fff;

#customouse {

	> * {
		will-change: transform;
	}

	#pointer {
		position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 998;
    width: 4rem;
    height: 4rem;
		will-change: transform;
		mix-blend-mode: exclusion;

		#pointer-content {
			width: 4rem;
			height: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translate3d(-60%, -60%, 0);

			#dot {
				background-color: $dotBackgroundColor;
				z-index: 1;
				width: 0rem;
				height: 0rem;
				border-radius: 50%;
				transition: height 0.3s ease, width 0.3s ease;
			}
		}
	}
}