$fontColor: #000000;

$titleFontFamily: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$titleFontSize: 7rem;

$subTitleFontFamily: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$subTitleFontSize: 1.15rem;

&#cont-1 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2vh;
	transition: height 1s ease-out;

	.title {
		flex: 2;
		font-size: $titleFontSize;
		font-family: $titleFontFamily;
		font-weight: 800;
		line-height: 1.1;
		letter-spacing: -0.4rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		span {
			will-change: transform, opacity;

			span {
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: linear-gradient(90deg, #0077e7, #01d8d1);
				filter: hue-rotate(0deg);
				animation: hueShift 6s infinite linear 1s;
				padding-right: 0.5rem;

				@keyframes hueShift {
					0% {
						filter: hue-rotate(0deg);
					}

					100% {
						filter: hue-rotate(360deg);
					}
				}
			}
		}

		span:last-child {
			text-align: right;
		}

		@media only screen and (max-width: 640px) {
			display: none;
		}
	}

	.mobile-title {
		font-size: $titleFontSize;
		font-family: $titleFontFamily;
		font-weight: 800;
		line-height: 1;
		letter-spacing: -0.6rem;

		span {
			will-change: transform, opacity;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(90deg, #0077e7, #01d8d1);
			filter: hue-rotate(0deg);
			animation: hueShift 6s infinite linear 1s;

			@keyframes hueShift {
				0% {
					filter: hue-rotate(0deg);
				}

				100% {
					filter: hue-rotate(360deg);
				}
			}
		}

		@media only screen and (max-width: 640px) {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 6rem;
			transform: translateY(3rem);
			text-align: center;
			letter-spacing: -.4rem;
			line-height: 1.2;
		}

		@media only screen and (min-width: 640px) {
			display: none;
		}
	}

	.content {
		flex: 1;
    padding-bottom: 6%;
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: flex-end;
		width: 50%;
		font-size: $subTitleFontSize;
		font-family: $subTitleFontFamily;
		width: 100%;

		.sub-title {
			font-size: inherit;
			font-weight: 400;
			text-transform: uppercase;
			flex: 1;
		}

		#cta-btn-cont {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex: 1;

			a#cta-btn {
				text-decoration: none;
				color: #000;
				padding: 1.35rem;
				display: flex;
				gap: .5rem;
				align-items: center;
				justify-content: center;
				border-radius: 2px;
				font-weight: 500;
				position: relative;
				opacity: 1;
				font-size: $ctaButtonFontSize;

				img#cta-foreground {
					position: absolute;
					height: 100%;
					width: 0;
					left: 0;
					top: 0;
					object-fit: cover;
					border-radius: 2px;
					box-shadow: '0px 0px 0px 1.5px #000'
				}

				#cta-text {
					opacity: 1;
				}
			}

			@media only screen and (max-width: 640px) {
				flex: 2;
			}
		}

		#go-to-projects {
			color: transparent;
			position: relative;
			overflow: hidden;
			font-size: inherit;
			transform: translateX(50%);

			&:before, &:after {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: max-content;
				color: $fontColor !important;
				transition: transform .6s cubic-bezier(0.34, 1.56, 0.64, 1);
			}

			&:before {
				content: '↓';
			}

			&:after {
				content: '↓';
				transform: translateY(100%);
			}

			&:hover {
				&:before{
					transform: translateY(-100%);
				}
				&:after {
					transform: translateY(0%);
				}
			}

			@media only screen and (max-width: 640px) {
				display: none;
			}
		}

		@media only screen and (max-width: 640px) {
			flex: none;
			width: 100%;
		}
	}

	@media only screen and (max-width: 640px) {
		min-height: 85vh;
	}
}